* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
}

section,
.footer {
  max-width: 1300px;
  width: 100%;
  flex-grow: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro-wrap {
  background-color: #1f2937;
}

.intro {
  color: #f9faf8;
  box-sizing: border-box;
  padding: 50px 20px;
}

.intro .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.intro .header h1 {
  font-size: 24px;
}

.intro .header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.intro .header nav ul li a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}

.hero-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.intro-text {
  flex: 1;
}

.intro-text h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 10px;
}

.intro-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 15px;
}

.intro-text button {
  padding: 10px 30px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.intro-image {
  flex: 1;
  max-width: 1000px;
}

.intro-image img {
  /* max-width: 700px; */
  /* height: 400px; */
  max-width: 100%;
  height: auto;
}

.showcase {
  color: #1f2937;
  padding: 70px 20px;
}

.showcase h2 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards figure {
  flex: 0;
}

.cards figure img {
  max-width: 270px;
  height: auto;
  border-radius: 10px;
}

.cards figure figcaption {
  margin-top: 10px;
  text-align: center;
}

.quote-wrap {
  background-color: #e5e7eb;
}

.quote {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1f2937;
}

.quote blockquote {
  max-width: 800px;
}

.quote blockquote p.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote footer p {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}

.signup {
  padding: 100px 20px;
}

.signup-content {
  background-color: #3882f6;
  color: #f9faf8;
  width: 100%;
  padding: 50px 100px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-text h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.signup-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.signup-content button {
  background-color: transparent;
  border: 2px solid #f9faf8;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 20px;
}

.footer-wrap {
  background-color: #1f2937;
}

.footer {
  padding: 50px 20px;
}

.footer p {
  font-size: 18px;
  color: #f9faf8;
  text-align: center;
}
